$cWhite: white;
$cBlack: black;
$cPurWhite: rgb(245, 238, 231);

body {
  background-color: $cPurWhite;
}

.container {
  margin: 0 auto;
  width: auto;
  font-size: 100%;
  line-height: 1.5;
}

.header-section {
  display: flex;

  img {
    margin: 11px 50px;
    width: 100px;
  }
}

.main-nav {
  a {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   margin: 0 auto;
    //   padding: 30px 70px;
    //   width: 500px;
    //   font-size: 20px;
    //   font-weight: 700px;
    //   background-color: #ffffff;
    //   border: 1px solid #333333;
    //   border-radius: 62px;

    //   &::after {
    //     content: '';
    //     width: 19px;
    //     height: 32px;
    //     background-c;
    //   }
    text-decoration: none;
    color: $cBlack;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $cBlack;
    }
  }

  ul {
    display: flex;
    margin-left: 1200px;
    margin-right: 30%;
  }
  li {
    margin-left: 40px;
    line-height: 100px;
  }
}

.introduce-1 {
  margin-top: 120px;
  margin-left: 200px;
}

.intro {
  display: flex;
}

.text-1 {
  max-width: 750px;

  h2 {
    font-size: 58px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .sub-name {
    font-size: 26px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .p-1 {
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.p-2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.text-2 {
  max-width: 427px;
  margin-left: 60px;

  img {
    width: 700px;
  }
}

.sns {
  position: fixed;
  right: 70px;
  top: 370px;
  // margin-top: 140px;
  // margin-left: 400px;

  .social-nav li {
    margin-top: 10px;
  }
}

/* resume btn */

.resume {
  text-align: center;
  margin-top: 15rem;
  margin-right: 12rem;

  a {
    display: inline-block;
    position: relative;
    padding: 1em 1em 1em 50px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border: 3px solid #aaaaaa;
      border-radius: 50vh;
      transition: 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%) rotate(45deg);
      width: 3px;
      height: 3px;
      border-top: 1px solid #333333;
      border-right: 1px solid #333333;
      transition: 0.3s;
    }

    &:hover {
      text-decoration: underline;

      &::before {
        background-color: #333;
      }

      &::after {
        border-top: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
      }
    }
  }
}

// .resume a {
//   display: inline-block;
//   text-decoration: none;
//   border: 1px solid $cBlack;
//   color: $cBlack;
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
//   font-size: 15px;
//   padding: 5px;
//   margin: 100px 670px;
//   cursor: pointer;
//   transition: all 0.2s ease 0.1s;

// &.slide-bg {
//   position: relative; //,slide-bgが親要素
//   overflow: hidden; //transform: translateX(-100%);によって枠の外にでた要素を隠そコマンド
//   z-index: 1;
//   &::before {
//     content: "";
//     display: inline-block; //これで横幅と縦幅を指定できるようになる//
//     width: 100%;
//     height: 100%;
//     background-color: $cBlack;
//     position: absolute;
//     top: 0%;
//     left: 0;
//     transform: translateX(-100%); //これで黒い幕が横にマイナスで動く
//     transition: transform 0.2s ease 0.1s;
//     z-index: -1;
//   }

//   &:hover {
//     color: $cWhite;

//     &::before {
//       transform: none;
//     }
//   }
// }

// &.float {
//   &:hover {
//     box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
//   }
// }

// &:hover {
//   background-color: $cBlack;
//   color: $cWhite;
// }
// }
