.hidden {
  display: none;
}

body {
  background-color: White;
  font-family: "Avenir Next", "Helvetica Neue" Arial, Sans-serif;
  font-size: 1.2rem;
  line-height: 3rem;
}

header {
  background-color: white;
  border-bottom: 2px solid Black;
}

.header-section {
  padding: 1rem;
}

a {
  color: Black;
  text-decoration: none;
}

a:hover {
  color: white;
}

nav ul {
  list-style: none;
  margin: auto;
  padding-left: 0;
  text-align: center;
}

nav ul li {
  border-bottom: 1px solid Black;
  transition: all 0.5s ease;
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li:hover,
nav ul li:focus {
  background-color: Black;
}

/* media query */

@media screen and (min-width: 890px) {
  .header-section,
  nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    border: none;
    padding: 0 1rem;
  }

  nav ul li:hover {
    background-color: unset;
    text-decoration: underline;
  }

  a:hover {
    color: black;
  }
}

@media screen and (min-width: 1280px) {
  .header-section {
    max-width: 1280px;
    margin: auto;
  }
}
