body {
  background-color: rgb(245, 238, 231);
}

.container {
  margin: 0 auto;
  width: auto;
  font-size: 100%;
  line-height: 1.5;
}

header {
  display: flex;
}

.header-section {
  display: flex;
}

header img {
  margin: 11px 50px;
  width: 100px;
}

.main-nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.main-nav ul {
  display: flex;
  margin-left: 1200px;
  margin-right: 30%;
}

.main-nav li {
  margin-left: 40px;
  line-height: 100px;
}

.introduce-1 {
  margin-top: 120px;
  margin-left: 200px;
}
.intro {
  display: flex;
}

.text-1 {
  max-width: 750px;
}

.text-1 h2 {
  font-size: 58px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-1 .sub-name {
  font-size: 26px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-1 .p-1 {
  margin-top: 50px;
}

.text-1 .p-1,
.p-2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.text-2 {
  max-width: 427px;
  margin-left: 60px;
}
.text-2 img {
  width: 700px;
}

.sns {
  margin-top: 140px;
  margin-left: 400px;
}

.sns .social-nav li {
  margin-top: 10px;
}

/* resume btn */
.resume a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 5px;
  margin: 100px 670px;
  cursor: pointer;
  transition: all 0.2s ease 0.1s;
}

.resume a:hover {
  background-color: black;
  color: white;
}
