$cWhite: white;
$cBlack: black;
$cPurWhite: rgb(245, 238, 231);

body {
  background-color: $cPurWhite;
}

.container {
  margin: 0 auto;
  width: auto;
  font-size: 100%;
  line-height: 1.5;
}

.header-section {
  display: flex;

  img {
    margin: 11px 50px;
    width: 100px;
  }
}

.main-nav {
  a {
    text-decoration: none;
    color: $cBlack;
    font-size: 20px;
  }

  ul {
    display: flex;
    margin-left: 1200px;
    margin-right: 30%;
  }
  li {
    margin-left: 40px;
    line-height: 100px;
  }
}

.introduce-1 {
  margin-top: 120px;
  margin-left: 200px;
}

.intro {
  display: flex;
}

.text-1 {
  max-width: 750px;

  h2 {
    font-size: 58px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .sub-name {
    font-size: 26px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .p-1 {
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.p-2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.text-2 {
  max-width: 427px;
  margin-left: 60px;

  img {
    width: 700px;
  }
}

.sns {
  margin-top: 140px;
  margin-left: 400px;

  .social-nav li {
    margin-top: 10px;
  }
}

/* resume btn */
.resume a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid $cBlack;
  color: $cBlack;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 5px;
  margin: 100px 670px;
  cursor: pointer;
  transition: all 0.2s ease 0.1s;

  &:hover {
    background-color: $cBlack;
    color: $cWhite;
  }
}
