$cWhite: white;
$cBlack: black;

/* resume btn */
.resume a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 5px;
  margin: 100px 670px;
  cursor: pointer;
  transition: all 0.2s ease 0.1s;

  &:hover {
    background-color: black;
    color: white;
  }
}
